body {
    background-color: black;
    font-family:fantasy;
    color: white;
}

h1 {
    margin-top: 2%;
    font-size: 60px;
}

#a, #v, #h {
    font-size: 18px;
    width: 1000px;
    height: 1000px;
    margin-top: 1%;
    transition: background 0.6s ease-in-out;
    padding: 30px;
    border-radius: 50%;
    margin-right: 3%;
    color: white;
    text-decoration: none;
}


#a:hover,#f:hover,#h:hover,#v:hover,#l:hover,#i:hover {
    background-color:coral;  
}

#v {
    margin-right: 28%;
}

#a {
    margin-left: 2%;
}

#l, #i, #f {
    width: 2.5%;
    margin-top: 2%;
    transition: background 0.6s ease-in-out;
    border-radius: 50%;
    margin-right: 5%;
    background-color: white;
}

#profile {
    border-radius: 50%;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
   
}

h1 {
    text-align: center;
}

video {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#dog img {
    width: 500px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

#about {
    font-size: 25px;
    background-color: rgb(146, 112, 239);
    border-radius: 50%;
    text-align: center;
    width: fit-content;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    transition: all .2s ease-in-out;
    margin-left: 3%;
}

#about:hover, #hobbies:hover, .video:hover {
    transform: scale(1.1);
}

#hobbies {
    font-size: 25px;
    background-color: rgb(146, 112, 239);
    border-radius: 50%;
    text-align: center;
    width: fit-content;
    padding-top: 2%;
    padding-bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
    margin-left: 30%;
    transition: all .2s ease-in-out;

}

.video {
    font-size: 25px;
    background-color: rgb(146, 112, 239);
    border-radius: 50%;
    text-align: center;
    width: fit-content;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: center;
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    transition: all .2s ease-in-out;
    margin-bottom: 5%;
}

.line1 {
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}

.line2 {
    color:white;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
}

.dot {
    height: 150px;
    width: 150px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 70%;
    position:absolute;
    top: 110%;
}

.dot1 {
    height: 100px;
    width: 100px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 55%;
    position:absolute;
    top: 140%;
}

.dot1s {
    height: 60px;
    width: 60px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 72%;
    position:absolute;
    top: 142%;
}

.dot2 {
    height: 150px;
    width: 150px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    margin-left:13% ;
    top: 200%;
}

.dot3 {
    height: 100px;
    width: 100px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3%;
    position:absolute;
    top: 175%;
}

.dot3s {
    height: 60px;
    width: 60px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20%;
    position:absolute;
    top: 180%;
}

.doth {
    height: 150px;
    width: 150px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 85%;
    position:absolute;
    top: 28%;
}

.doth1 {
    height: 100px;
    width: 100px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 72%;
    position:absolute;
    top: 58%;

}

.doth1s {
    height: 60px;
    width: 60px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 89%;
    position:absolute;
    top: 60%;
}

.doth2 {
    height: 150px;
    width: 150px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    margin-left:13% ;
    top: 70%;

}

.doth3 {
    height: 100px;
    width: 100px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3%;
    position:absolute;
    top: 45%;
}

.doth3s {
    height: 60px;
    width: 60px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20%;
    position:absolute;
    top: 50%;
}

.dotl {
    height: 150px;
    width: 150px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 85%;
    position:absolute;
}

.dotl1 {
    height: 100px;
    width: 100px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 85%;
    position:absolute;
    top: 350%;
}

.dotl1s {
    height: 60px;
    width: 60px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 76%;
    position:absolute;
    top: 300%;
}

.dotl2 {
    height: 150px;
    width: 150px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    margin-left:13% ;
    top: 290%;
}

.dotl3 {
    height: 100px;
    width: 100px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3%;
    position:absolute;
}

.dotl3s {
    height: 60px;
    width: 60px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5%;
    position:absolute;
    top: 350%;
}

.dotl1s2 {
    height: 60px;
    width: 60px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    margin-left: 76%;
    position:absolute;
    top: 395%;
}

.dotl22 {
    height: 150px;
    width: 150px;
    background-color: coral;
    border-radius: 50%;
    display: inline-block;
    position:absolute;
    margin-left:13% ;
    top: 385%;
}